@model e_library.ViewModels.SpecialistViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Specialist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SpecialistId" />
            <div class="form-group">
                <label asp-for="SpecialistName" class="control-label"></label>
                <input asp-for="SpecialistName" class="form-control" />
                <span asp-validation-for="SpecialistName" class="text-danger"></span>
            </div>
          @*  <div class="form-group">
                <label asp-for="SpecialestImageurl" class="control-label"></label>
                <input asp-for="SpecialestImageurl" class="form-control" />
                <span asp-validation-for="SpecialestImageurl" class="text-danger"></span>
            </div>*@
             <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input type="file" asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
                 <img src="~/Images/@Model.SpecialestImageurl"style="max-width:30px;/>
            </div>>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

